.MenuItem{
    color:white !important;
    margin: 0 5px !important;
    border-bottom: 5px;
    border-bottom: 5px solid  rgba(3,3,61);
}
body{
    background:linear-gradient(to bottom, rgba(3,3,61,0.65) 0%, rgba(3,3,61,0.9) 100%)
}
.MenuItem:hover{
    border-bottom: 5px solid rgb(66, 128, 241);
}
.searchh{
    border: 1px solid rgb(103, 103, 245);
    color:white;
} 
.searchh:hover{
    background-color: rgb(103, 103, 245);
}
.contann{
    background-color: white;
    max-width: 75% !important;
    border: 12px solid rgba(3,3,61,0.5) !important;
}
.title{
    color: white !important;
}
.department{
    color: rgba(3,3,61);
}
.flexBox{
    display:flex;
    border-bottom:  4px solid rgba(3,3,61);
    margin:0px;

}

.item{
    /* height: 120px; */

    max-width: 400px;
    width:auto;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom:3px;
    margin-left:0px;
    padding: 0px 10px;
    text-decoration: none !important;
    /* border: 2px solid red; */
    border-left:4px solid rgb(3,3,61);
}
.logo{
    max-width: 200px;
    border-left: 0px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin:20px auto;
}
.dep{
    color:rgb(3,3,61);
    text-decoration: none !important;
    text-align: center left;
    margin:auto !important;
}
.dep:hover{
    text-decoration: underline !important;
    color:rgb(3,3,61)  !important;
}
.item1{
    width:70% !important;
    border-right: 4px solid rgb(3,3,61);
}
.flexbox2{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 5px solid rgb(3,3,61);
}
.c-image{
    width:500px;
    height:350px;
}
.item2{
    max-width: 25% !important;
    margin:auto;
}
.options{
    color:white;
    margin:45px auto;
    text-align:center;
    padding:15px 50px;
    background-color: rgb(3,3,61);
    border-radius: 5px;

}
.options:hover{
    background-color: rgba(3,3,61,0.5);
}
h3{
    margin:20px auto;
    color:rgb(3,3,61) !important;
    text-decoration: underline !important;
}
p{
    font-size: 20px;
    margin:20px;
}
.op{
    color:white;
    text-decoration: none;
}
.op:hover{
    color:white;
    text-decoration: none;
}
.dropdown-item{
    border-bottom: 2px solid blue !important;
}
h3{
    text-align: center !important;
}
.wrapper{
    max-width: 75% !important;
    width:75% !important;
}
 @media (max-width:839px){
    .department{
        display:none;
    }
    .flexbox-m{
        display:flex !important;
    }
    .flexBox{
        flex-direction: column !important;
    }
    .foot{
        text-align: center;
    }

}
@media (min-width:839px)
{
    .flexbox-m{
        display:none !important;
    }
    .foot{
        display:none;
    }
} 
@media(min-width:864px)and (max-width:1255px){
    .item2{
        max-width:100% !important;
        display:flex;
    }
    .options{
        margin:20px 20px !important;
        padding:15px 50px;
    }
    .item1{
        max-width:100% !important;
        width:100% !important;
    }
    .flexbox2{
        flex-direction: column;
    }

}
@media(max-width:864px){
    .item1{
        max-width:100% !important;
        width:100% !important;
    }
    .item2{
        display:flex;
        flex-direction: column;
        margin:5px;
        margin:0px;
        max-width: 100% !important;
        width:100%;
    }
    .options{
        margin:5px 2px;
        margin-right: 5px;
        padding:15px 20px;
    }
    .op{
        width:100% !important;
    }
}
/* footer wrapper  */
.footer-wrapper{
    max-width: 75%;
    margin:auto;
}
.footer-bottom-wrapper {
    background-color: #0c2d6b;
    padding: 0;
    color: #b8b8b8;
    position: relative;
    text-align: center;
}
*, :after, :before {
    box-sizing: border-box;
}
div {
    display: block;
}
style attribute {
    font-size: 100%;
}
.left-pnal.microweb a, body, h1, h2, h3, h4, h5, sup, td {
    font-weight: 400;
}
.footer-bottom-wrapper:after {
    margin:auto;
    height: 4px;
    max-width: 75%;
    background: url(../images/after-bottom-bg.png);
    z-index: 10;
}
.footer-bottom-wrapper:after, .footer-top-wrapper ul li:first-child:before {
    content: '';
}

/* main_container_css */
@media screen and (min-width:1050px ){
    
    .bg-image{
        background-image: url('WhatsApp\ Image\ 2022-02-24\ at\ 11.35.42.jpeg');
        /* height: 3em; */
        background-repeat: no-repeat;
        background-attachment: fixed;
        /* background-blend-mode: screen; */
        background-size: 100% 100%;
    }

    #heading {
        text-align: center;
        color: aliceblue;
        font-size: 50px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-shadow: 6px 1px rgb(151, 56, 12);
    }

    .names {
        margin: 30px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .card-img-top{
        height: 250px;
        max-height: 250px;
    }

    .heading2 {
        /* margin: 30px auto; */
        text-align: center;
        text-decoration: overline;
        font-weight: bolder;
        word-wrap: break-word;
        background-color: white;
        color: rgb(14, 11, 14);
        display: block;
        width: 30%;
        margin: 2% 35%;
        text-shadow: 2px 1px rgb(163, 38, 22);
    }

    .design-flex {
        border: 5px solid black;
        margin: 20px auto;
        border-radius: 10px;
    }

    .design-card{
        background-image: repeating-linear-gradient(rgb(81, 47, 204), rgba(214, 214, 228, 0.568)); 
        font-style: italic;
        font-weight: 900;
        letter-spacing: 1px;
        color: white;
        text-shadow: 2px 2px brown;
        display: inline-block;
    }
    .card2{
        background-image: repeating-linear-gradient(rgb(81, 47, 204), rgba(214, 214, 228, 0.568)); 
           
    }

    .linkdin{
        color: rgb(12, 12, 83);
        text-shadow: 1px 1px rgba(231, 223, 223, 0.568);
    }

    .linkdin:hover{
        color: rgb(238, 44, 10);
        text-shadow: 2px 1px black;
        font-size: large;
    }

    .card-title{
        text-decoration: 3px solid underline;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: antiquewhite;
    }

    .card-title:hover{
        font-weight: 900;
        font-style: normal;
        color: yellow;
        letter-spacing: 1.5px;
        text-shadow: 3px 1px black;
    }

    #text-design{
        font-style: italic;
        font-weight: 900;
        letter-spacing: 1px;
        color: aquamarine;
        text-shadow: 2px 2px brown;
        text-decoration: double underline;
    }

    .card-transition{
        transition: width 2s, height 2s;
    }

    .card-transition:hover{
        width: 200px;
        height: 2rem;
        border: none;
    }
}

@media screen and (max-width:1050px){
    .bg-image{
            background-image: url('WhatsApp\ Image\ 2022-02-24\ at\ 11.35.42.jpeg');
            /* height: 3em; */
            background-repeat: no-repeat;
            background-attachment: fixed;
            /* background-blend-mode: screen; */
            background-size: 100% 100%;
        }
    
        #heading {
            text-align: center;
            color: aliceblue;
            font-size: 30px;
            font-weight: 900;
            text-transform: uppercase;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-shadow: 6px 1px rgb(151, 56, 12);
        }
    
        .names {
            margin: 30px auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    
        .card-img-top{
            height: 250px;
            max-height: 250px;
        }
    
        .heading2 {
            margin: 30px auto;
            text-align: center;
            text-decoration: overline;
            font-weight: bolder;
            word-wrap: break-word;
            background-color: white;
            color: rgb(14, 11, 14);
            display: block;
            width: 80%;
            /* margin: 2% 35%; */
            text-shadow: 2px 1px rgb(163, 38, 22);
        }
    
        .design-flex {
            border: 5px solid black;
            margin: 20px auto;
            border-radius: 10px;
            }
    
        .design-card{
            background-image: repeating-linear-gradient(rgb(81, 47, 204), rgba(214, 214, 228, 0.568));
            font-style: italic;
            font-weight: 900;
            letter-spacing: 1px;
            color: white;
            text-shadow: 2px 2px brown;
            display: inline-block;
        }
    
        div a{
            color: rgb(12, 12, 83);
            text-shadow: 1px 1px rgba(231, 223, 223, 0.568);
        }
    
        div a:hover{
            color: rgb(238, 44, 10);
            text-shadow: 2px 1px black;
            font-size: large;
        }
    
        .card-title{
            text-decoration: 3px solid underline;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: antiquewhite;
        }
    
        .card-title:hover{
            font-weight: 900;
            font-style: normal;
            color: yellow;
            letter-spacing: 1.5px;
            text-shadow: 3px 1px black;
        }
    
        #text-design{
            font-style: italic;
            font-weight: 900;
            letter-spacing: 1px;
            color: aquamarine;
            text-shadow: 2px 2px brown;
            text-decoration: double underline;
        }
    
        .card-transition{
            transition: width 2s, height 2s;
            display: inline-block;
        }
    
        .card-transition:hover{
            width: 200px;
            height: 2rem;
            border: none;
        }
}