.MenuItem{
    color:white !important;
    margin: 0 5px !important;
    border-bottom: 5px;
    border-bottom: 5px solid  rgba(3,3,61);
}
body{
    background:linear-gradient(to bottom, rgba(3,3,61,0.65) 0%, rgba(3,3,61,0.9) 100%)
}
.MenuItem:hover{
    border-bottom: 5px solid rgb(66, 128, 241);
}
.searchh{
    border: 1px solid rgb(103, 103, 245);
    color:white;
} 
.searchh:hover{
    background-color: rgb(103, 103, 245);
}
.contann{
    background-color: white;
    max-width: 75% !important;
    border: 12px solid rgba(3,3,61,0.5) !important;
}
.title{
    color: white !important;
}
.department{
    color: rgba(3,3,61);
}
.flexBox{
    display:flex;
    border-bottom:  4px solid rgba(3,3,61);
    margin:0px;

}

.item{
    /* height: 120px; */

    max-width: 400px;
    width:auto;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom:3px;
    margin-left:0px;
    padding: 0px 10px;
    text-decoration: none !important;
    /* border: 2px solid red; */
    border-left:4px solid rgb(3,3,61);
}
.logo{
    max-width: 200px;
    border-left: 0px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin:20px auto;
}
.dep{
    color:rgb(3,3,61);
    text-decoration: none !important;
    text-align: center left;
    margin:auto !important;
}
.dep:hover{
    text-decoration: underline !important;
    color:rgb(3,3,61)  !important;
}
.item1{
    width:70% !important;
    border-right: 4px solid rgb(3,3,61);
}
.flexbox2{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 5px solid rgb(3,3,61);
}
.c-image{
    width:500px;
    height:350px;
}
.item2{
    max-width: 25% !important;
    margin:auto;
}
.options{
    color:white;
    margin:45px auto;
    text-align:center;
    padding:15px 50px;
    background-color: rgb(3,3,61);
    border-radius: 5px;

}
.options:hover{
    background-color: rgba(3,3,61,0.5);
}
h3{
    margin:20px auto;
    color:rgb(3,3,61) !important;
    text-decoration: underline !important;
}
p{
    font-size: 20px;
    margin:20px;
}
.op{
    color:white;
    text-decoration: none;
}
.op:hover{
    color:white;
    text-decoration: none;
}
h3{
    text-align: center !important;
}
.wrapper{
    max-width: 75% !important;
    width:75% !important;
}
 @media (max-width:839px){
    .department{
        display:none;
    }
    .flexbox-m{
        display:flex !important;
    }
    .flexBox{
        flex-direction: column !important;
    }
    .foot{
        text-align: center;
    }

}
@media (min-width:839px)
{
    .flexbox-m{
        display:none !important;
    }
    .foot{
        display:none;
    }
} 
@media(min-width:864px)and (max-width:1255px){
    .item2{
        max-width:100% !important;
        display:flex;
    }
    .options{
        margin:20px 20px !important;
        padding:15px 50px;
    }
    .item1{
        max-width:100% !important;
        width:100% !important;
    }
    .flexbox2{
        flex-direction: column;
    }

}
@media(max-width:864px){
    .item1{
        max-width:100% !important;
        width:100% !important;
    }
    .item2{
        display:flex;
        flex-direction: column;
        margin:5px;
        margin:0px;
        max-width: 100% !important;
        width:100%;
    }
    .options{
        margin:5px 2px;
        margin-right: 5px;
        padding:15px 20px;
    }
    .op{
        width:100% !important;
    }
}
/* footer wrapper  */
.footer-wrapper{
    max-width: 75%;
    margin:auto;
}
.footer-bottom-wrapper {
    background-color: #0c2d6b;
    padding: 0;
    color: #b8b8b8;
    position: relative;
    text-align: center;
}
*, :after, :before {
    box-sizing: border-box;
}
div {
    display: block;
}
style attribute {
    font-size: 100%;
}
.left-pnal.microweb a, body, h1, h2, h3, h4, h5, sup, td {
    font-weight: 400;
}
.footer-bottom-wrapper:after {
    margin:auto;
    height: 4px;
    max-width: 75%;
    background: url(../images/after-bottom-bg.png);
    z-index: 10;
}
.footer-bottom-wrapper:after, .footer-top-wrapper ul li:first-child:before {
    content: '';
}

/* main_container_css */
.btn1{
    background-color: rgba(3,3,61,.7);
}
.btn2{
    background-color: rgba(3,3,61);
}
.btn2:hover{
    background-color: rgba(3,3,61,.7);
}
@media screen and (min-width: 500px){



        * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        }

        .bg-img {
        /* background-image: url('bg-img.png'); */
        background-size: 100% 100%;
        background-attachment: fixed;
        /* background-position: center; */
        /* background-repeat: no-repeat; */
        /* filter: blur(3px); */
        }

        .container_ah {
        color: rgb(247, 246, 244);
        font-weight: bold;
        border: 3px solid white;
        display: inline-block;
        text-align: center;
        }

        .container2_ah {
        margin: 20px 20px;
        color: aliceblue;
        font-weight: bold;
        /* position: absolute;
        top: 10%;
        left: 5%;
        transform: translate(-50%, -50%);
        z-index: 2; */
        width: 80%;
        text-align: center;
        }

        #heading {
        color: rgb(3,3,61);
        text-align: center;
        font-size: 3em;
        /* text-shadow: 5px 5px rgb(53, 28, 28); */
        font-weight: bolder;
        }

        #heading2 {
        font-size: 2rem;
        font-weight: bolder;
        color: rgb(17, 58, 94);
        margin: 30px 30px;
        /* text-decoration: overline; */
        /* text-shadow: 5px 3px rebeccapurple; */
        }

        #notes {
        font-style: italic;
        font-size: 2rem;
        color: rgb(233, 186, 186);
        text-decoration: none;
        text-shadow: 5px 3px black;
        font-weight: bold;
        text-overflow: clip;
        padding: 15px 15px;
        }

        .design1 {
        color: aliceblue;
        background-color: rgb(3,3,61,0.7);
        display: inline-block;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-decoration: underline;
        border: 7px groove;
        padding: 10px 10px;
        margin: 20px;
        border-radius: 20px;
        align-items: center;
        }

        .design1:hover {
        background-color: rgb(3, 3, 61);
        }

        .design2 {
        color: bisque;
        border: 2px solid white;
        display: inline-block;
        align-self: center;
        padding: 10px 10px;
        }

        .design3 {
        display: block;
        color: bisque;
        background-color: rgb(3, 3, 61);
        border: 5px solid rgb(230, 229, 238);
        align-self: center;
        display: inline-block;
        margin: 3% 15%;
        font-family: cursive;
        font-size: 20px;
        /* text-shadow: 3px 3px rgb(85, 14, 14); */
        word-wrap: break-word;
        padding: 20px;
        }

        .text{
        font-weight: bolder;
        text-transform: uppercase;
        color: white;
        font-size: 20px;
        /* text-shadow: 3px 3px rgb(85, 14, 14); */
        }

        a{
            color: rgb(155, 191, 223);
            text-decoration: none;
        }

        a:hover{
            color: rgb(161, 161, 233);
            /* text-decoration: underline; */
            text-shadow: none;
        }

        .button{
            border: 8px groove;
            border-radius: 30px;
            /* margin-left: 35%; */
            background-image: repeating-radial-gradient(rgba(209, 133, 123, 0.938),
            rgba(241, 48, 48, 0.9), rgba(46, 49, 95, 0.9));
            display: inline-block;
            /* position: fixed; */
            color: aliceblue;
            padding: 20px;
            font-size: 30px;
        }

        .button:hover{
            background-image: linear-gradient(rgba(241, 48, 48, 0.9), rgba(46, 49, 95, 0.9));
            color: aliceblue;
        }

        .form-design {
            /* background-color: rgb(163, 163, 199); */
            color: black;
            text-align: justify;
        }

        input:hover {
            background-color: bisque;
        }

        input {
            margin: 10px auto;
            border: 3px solid black;
        }

        .star {
            color: red;
        }

        #map{
            border: 5px solid white;
            width: 80%;
        }
}

@media screen and (max-width:500px){
    body,
        html {
        height: 100%;
        width: 100%;
        }

        * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        }

        .bg-img {
        background-image: url('bg-img.png');
        background-size: 100% 100%;
        background-attachment: fixed;
        /* background-position: center; */
        background-repeat: no-repeat;
        /* filter: blur(3px); */
        }

        .container {
        color: rgb(247, 246, 244);
        font-weight: bold;
        display: inline-block;
        text-align: center;
        }

        .container2 {
        margin: 10px 10px;
        color: aliceblue;
        font-weight: bold;
        width: 80%;
        text-align: center;
        }

        #heading {
        color: rgba(234, 239, 243, 0.774);
        text-align: center;
        font-size: 20px;
        text-shadow: 5px 5px rgb(53, 28, 28);
        font-weight: bolder;
        }

        #heading2 {
        font-size: 20px;
        font-weight: bolder;
        color: aliceblue;
        margin: 10px 10px;
        text-shadow: 5px 3px rebeccapurple;
        }

        #notes {
        font-style: italic;
        font-size: 2rem;
        color: rgb(233, 186, 186);
        text-decoration: none;
        text-shadow: 2px 3px black;
        font-weight: bold;
        text-overflow: clip;
        padding: 15px 15px;
        }

        .design1 {
        color: aliceblue;
        background-color: rgb(28, 129, 28);
        display: inline-block;
        font-size: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-decoration: underline;
        border: 7px groove;
        padding: 10px 10px;
        margin: 10px;
        border-radius: 20px;
        align-items: center;
        }

        .design1:hover {
        background-color: rgb(3, 3, 61);
        }

        .design2 {
        color: bisque;
        border: 2px solid white;
        display: inline-block;
        align-self: center;
        font-size: 15px;
        padding: 10px 10px;
        }

        .design3 {
        display: block;
        color: bisque;
        background-color: rgb(3, 3, 61);
        border: 5px solid rgb(230, 229, 238);
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        box-sizing: content-box;
        font-family: cursive;
        font-size: 14px;
        text-shadow: 3px 3px rgb(85, 14, 14);
        word-wrap: break-word;
        padding: 5px;
        }

        .text{
        font-weight: bolder;
        text-transform: uppercase;
        color: white;
        font-size: 14px;
        text-shadow: 3px 3px rgb(85, 14, 14);
        }

        a{
            color: rgb(155, 191, 223);
            text-decoration: none;
        }

        a:hover{
            color: rgb(161, 161, 233);
            text-decoration: underline;
            text-shadow: none;
        }

        .button{
            border: 8px groove;
            border-radius: 30px;
            /* margin-left: 35%; */
            background-image: repeating-radial-gradient(rgba(209, 133, 123, 0.938),
            rgba(241, 48, 48, 0.9), rgba(46, 49, 95, 0.9));
            display: inline-block;
            /* position: fixed; */
            color: aliceblue;
            padding: 20px;
            font-size: 30px;
        }

        .button:hover{
            background-image: linear-gradient(rgba(241, 48, 48, 0.9), rgba(46, 49, 95, 0.9));
            color: aliceblue;
        }

        .form-design {
            /* background-color: rgb(163, 163, 199); */
            color: black;
            text-align: justify;
        }

        input:hover {
            background-color: bisque;
        }

        input {
            margin: 10px auto;
            border: 3px solid black;
        }

        .star {
            color: red;
        }

        iframe, #map{
            width: 90%;
            height: 150px;
            margin: 20px auto;
        }
}