.MenuItem{
    color:white !important;
    border-bottom: 5px solid  rgba(3,3,61);
    
}
body{
    background:linear-gradient(to bottom, rgba(3,3,61,0.62) 0%, rgba(3,3,61,0.9) 100%)
}
.MenuItem:hover{
    border-bottom: 5px solid rgb(66, 128, 241);
}
.dropdown:hover .dropdown-menu{
        display:block !important;
    }
.dropdown-item:hover{
    background-color: #7a9bcc;
}
.dropdown-menu{
    border: 1px solid rgb(3,3,61)
}
.searchh{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(166, 166, 241);
    color:white;
} 
.searchh:hover{
    background-color: rgb(255, 255, 255);
}
.contann{
    background-color: white;
    max-width: 75% !important;
    border: 12px solid rgba(3,3,61,0.5) !important;
}
.title{
    color: white !important;
}
.department{
    color: rgba(3,3,61);
}
.flexBox{
    display:flex;
    border-bottom:  4px solid rgba(3,3,61);
    margin:0px;

}
.dropdown-item{
    border-bottom: 2px solid rgb(95, 95, 124);
    color: rgba(3,3,61);
    text-transform: uppercase;
    font-size:medium;
    font-weight:700;
}
.dropdown-item:active{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
.dropdown-menu{
    background-color: rgb(255, 255, 255);
}


.item{
    /* height: 120px; */

    max-width: 400px;
    width:auto;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom:3px;
    margin-left:0px;
    padding: 0px 10px;
    text-decoration: none !important;
    /* border: 2px solid red; */
    border-left:4px solid rgb(3,3,61);
}
.logo{
    max-width: 200px;
    border-left: 0px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin:20px auto;
}
.dep{
    color:rgb(3,3,61);
    text-decoration: none !important;
    text-align: center left;
    margin:auto !important;
}
.dep:hover{
    text-decoration: underline !important;
    color:rgb(3,3,61)  !important;
}
.item1{
    width:70% !important;
    border-right: 4px solid rgb(3,3,61);
}
.flexbox2{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 4px solid rgb(3,3,61);
}
.c-image{
    width:500px;
    height:395px;
}
.item2{
    margin:auto;
}
.options{
    color:white;
    margin:10px auto;
    text-align:center;
    padding:15px 50px;
    background-color: rgb(3,3,61);
    border-radius: 5px;

}
.options:hover{
    background-color: rgba(3,3,61,0.5);
}
h3{
    margin:20px auto;
    color:rgb(3,3,61) !important;
    text-decoration: underline !important;
}
p{
    font-size: 20px;
    margin:20px;
}
.op{
    color:white;
    text-decoration: none;
}
.op:hover{
    color:white;
    text-decoration: none;
}
h3{
    text-align: center !important;
}
.wrapper{
    max-width: 75% !important;
    width:75% !important;
}
/* bootdtrap_cards
 */
 .bg-light {
    background-color: #f8f9fa!important;
}
.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
/* body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
} */
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
 @media (max-width:839px){
    .department{
        display:none;
    }
    .flexbox-m{
        display:flex !important;
    }
    .flexBox{
        flex-direction: column !important;
    }
    .foot{
        text-align: center;
    }

}
@media (min-width:839px)
{
    .flexbox-m{
        display:none !important;
    }
    .foot{
        display:none;
    }
} 
@media(min-width:879px)and (max-width:1255px){

    .item1{
        border-right: none;
        border-bottom: 4px solid rgb(3,3,61);
    }
    .item2{
        max-width:100% !important;
        margin:0px;
        display:flex;
        flex-direction: column;

    }
    .upper{
        width:auto;
        min-width: 100%;
        display: flex;
    }
    .lower{
        display: flex;
        margin: auto;
    }
    .options{
        width:200px;
        margin:10px auto;
        padding:15px;
        white-space: nowrap;
        text-align: center;
    }
    .item1{
        max-width:100% !important;
        width:100% !important;
    }
    .flexbox2{
        flex-direction: column;
    }

}
@media(max-width:879px){
    .item1{
        max-width:100% !important;
        width:100% !important;
        border-right: 0px;
        border-bottom:5px solid rgb(3,3,61);
    }
    .item2{
        display:flex;
        flex-direction: column;
        margin:5px;
        margin:0px;
        max-width: 100% !important;
        width:100%;
    }
    .options{
        margin:5px 2px;
        margin-right: 5px;
        padding:15px 20px;
    }
    .op{
        width:100% !important;
    }
}
/* footer wrapper  */
.footer-wrapper{
    max-width: 75%;
    margin:auto;
}
.footer-bottom-wrapper {
    background-color: #1a4697;
    padding: 0;
    color: #ffffff;
    position: relative;
    text-align: center;
}
*, :after, :before {
    box-sizing: border-box;
}
div {
    display: block;
}
style attribute {
    font-size: 100%;
}
.left-pnal.microweb a, body, h1, h2, h3, h4, h5, sup, td {
    font-weight: 400;
}
.footer-bottom-wrapper:after {
    margin:auto;
    height: 4px;
    max-width: 75%;
    background: url(../images/after-bottom-bg.png);
    z-index: 10;
}
.footer-bottom-wrapper:after, .footer-top-wrapper ul li:first-child:before {
    content: '';
}
.col{
    margin:30px auto;
}
.card:hover{
    outline: 3px solid rgb(3,3,61);
}
@media(min-width:491px){
    .card{
        text-align: left;
        color: black;
        width: 18rem !important;
        margin:auto;
        background-image: repeating-linear-gradient(rgb(81, 47, 204), rgba(214, 214, 228, 0.568));
        min-height: 500px;
    }
}
.btn{
    background-color: rgb(3,3,61);
    border-radius: 5px;
    
}
.btn:hover{
    background-color: rgba(3,3,61,0.5);
}
h5{
    font-weight:500;
    text-align: center;
    color:rgb(3,3,61);
    font-size:25px;
    border-bottom: 3px solid rgb(3,3,61);
}
p{
    margin:0px;
}
@media(max-width:490px){
    .card{
        max-width: 16rem !important;
        background-image: repeating-linear-gradient(rgb(81, 47, 204), rgba(214, 214, 228, 0.568));
    }
    .MenuItem{
        border-bottom: 0px;
    }
}
.clear{
    margin-left:10px;
}

